
body{
    width: 680px;
    height: 840px;
    background-color: #000000;
    box-shadow: 8px 8px 50px 8px rgb(224, 172, 76);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 50px 650px;

}


.CONTACT{
    color: #ffffff;
    font-family: serif;
    font-size: 20px;
    margin: 30px 30px 25px 30px;
    padding-top: 0px;
    padding-bottom: 22px;
    text-align: center;
    
}

.contactus{
    color: rgb(253, 164, 0);
    font-family: serif;
    font-size: 20px;
    margin-right: 400px;
    
    
}

.contactus legend {
    font-size: 25px;
    font-family: serif;
    text-align: left;
    margin: 30px 0px 10px 0px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
}

.contactus input[type=email] {
    border: 2px solid rgb(224, 172, 76);
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-family: serif;
    width: 145%;
    height: 40px;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
    text-align: center;
}
.contactus ::placeholder{
    color: #ffffff;
}
.contactus input[type=text2] {
    border: 2px solid rgb(224, 172, 76);
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-family: serif;
    width: 145%;
    height: 40px;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
    text-align: center;
}

.contactus input[type=text] {
    border: 2px solid rgb(224, 172, 76);
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    font-family: serif;
    width: 165%;
    height: 130px;
    padding: 5px 20px;
    display: inline-block;
    box-sizing: content-box;
    margin: 8px 60px;
    text-align: center;
}

.contactus input[type=submit]{
    margin: 0% 35% 4% 0%;
}

.contactus input[type=submit]{
    font-family: serif;
    font-size: 30px;
    font-weight: 1000;
    background-color: #000000;
    color: #ffffff;
    border: 3px solid rgb(224, 172, 76);
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
}



.contactus input[type=submit]:hover {
    font-family: serif;
    font-size: 30px;
    font-weight: 1000;
    background-color: rgb(224, 172, 76);
    color: #000000;
    border-radius: 30px;
    transition: 0.2s ease-in;
}


