        /* EDITING HEADER*/

        .title {
            border-bottom: 2px solid rgb(224, 172, 76);
            padding-bottom: 0px ;
            padding-left: 200px;
            max-width: 2700px;
            font-size: 25px;
            font-family: Serif;
        }
        
                /* EDITING NAVBAR*/

        body {
            font-family: serif;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        

        #toggle-sidebar {
            display: none;
        }
        
        .menu-icon {
            font-size: 30px;
            padding: 30px;
            cursor: pointer;
            display: block;
            background-color: rgb(218, 159, 50);
            color: #ffffff;
            position: fixed;
            top: 12px;
            right: 10px;
            z-index: 1100;
        }
        
        #sidebar {
            position: fixed;
            top: 0;
            right: -250px;
            width: 230px;
            height: 100%;
            background-color: #000000;
            padding-top: 150px;
            transition: 0.3s;
            z-index: 1000;
        }
        
        #sidebar a {
            padding: 15px 15px;
            text-decoration: none;
            font-size: 22px;
            color: #b57600;
            display: block;
        }
        
        #sidebar a:hover {
            background-color: #d3d2bf;
        }
        
        #toggle-sidebar:checked ~ #sidebar {
            right: 0;
        }
        
        #toggle-sidebar:checked ~ #content {
            margin-right: 250px;
            transition: 0.3s;
        }










.Gallerysection{
    color: #b57600;
    text-align: center;
    text-align: justify;
    margin-left: 200px;
    font-size: 25px;
    font-family: serif;

}
.slider {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 40px;
    margin: auto;
    margin-left: 385px;
}


input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    width: 800%; 
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
    flex: 0 0 100%;
}

.slide img {
    width: 600px;
    height: 650px;
    border-radius: 10px;
    object-fit: cover; 
}

#slide1:checked ~ .slides {
    transform: translateX(0%);
}
#slide2:checked ~ .slides {
    transform: translateX(-100%);
}
#slide3:checked ~ .slides {
    transform: translateX(-200%);
}
#slide4:checked ~ .slides {
    transform: translateX(-300%);
    
}
#slide5:checked ~ .slides {
    transform: translateX(-400%);
    
}
#slide6:checked ~ .slides {
    transform: translateX(-500%);
    
}
#slide7:checked ~ .slides {
    transform: translateX(-600%);
    
}

/* Navigation dots */
.navigation {
    position: absolute;
    bottom: 10px;
    width: 650px;
    display: flex;
    justify-content: center;
}

.nav-btn {
    width: 10px;
    height: 10px;
    margin: 15px;
    border-radius: 50%;
    background: rgb(224, 172, 76);
    cursor: pointer;
    transition: background 0.2s;
}

.nav-btn:hover {
    background: #000000;
}




.footer {
    display: inline-flex;
    background-color: #000000;
    margin-left: 200px;
    border: 5px solid #ff9500 ;
    border-radius: 95px;
    width: 1500px;
    height: 450px;
    margin-top: 200px;
}


.logo_contact {
    display: inline-block;
    margin: 10px;
    border-right: 2px solid rgb(224, 172, 76);
    align-content: center;
    vertical-align: middle;
    
}

.footer p{
    font-size: 27px;
    font-family: serif;
    color: #ffffff;
    margin: 0px 90px;
    
}

.footer h2 {
    font-size: 40px;
    font-family: serif;
    color: #b57600 ;
    margin: 0px 90px;
    /*padding: 0px 40px 0px 0px;*/
}

.footer h4 {
    font-family: serif;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 60px 90px;
}

.footer img {
    margin:10px ;
    margin-left: 80px;
    width: 10%;
}


.links {
    margin: 20px 30px;
}

.links ul {
    list-style: none;
    display: grid;
    padding: 0px;
    margin: 20px 10px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff; 
}

@media screen and (max-width: 900px) {
    .links ul {
        display: block;
    }

    .links p {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
}

.links a {
    color: #ffffff;
    font-family: monospace;
    font-size: 22px;
    text-decoration: none;
    padding: 0px 6px 0px 15px;
    transition: font-size 0.3s, font-weight 0.3s;
}

.links a:hover {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 100px;
    opacity: 0.9;
    color: #b57600;
}

.links a:active {
    opacity: 0.9;
    font-size: 21px;
    font-weight: bolder;
}

.links p {
    list-style: none;
    display: grid;
    color: #ecc287;
    font-family: monospace;
    font-size: 20px;
    font-weight: lighter;
    opacity: 0.8;
    margin: 20px;
    padding: 0px;
}